<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/tweet.css" />
        
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/bootbox.js"></script>
        <script type="text/javascript" src="../js/tweet.js"></script>

        <title>Tweet Classifier Mobile</title>
    </head>
    <body>

        <!-- Help Modal -->
        <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span class="modal-close">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Ayuda</h4>
                    </div>
                    <div class="modal-body">
                    A continuación se le presentarán una serie de tweets enviados durante una situación de emergencia  y usted tendrá que clasificarlos siguiendo las siguientes etiquetas:
                    <table class="table">
                    <tr>
                        <th>Tengo:  Tweet entrega información</th>
                        <th>Necesito: Tweet solicita información </th>
                    </tr>
                    <tr>
                        <td>Personas Encontradas: Todo tweet que informe el hallazgo de una persona que estuvo desaparecida.</td>
                        <td>Personas Perdidas: Todo tweet cuyo contenido sea solicitar información respecto de alguien específico o un grupo familiar específico. Necesidad de encontrar a alguien. </td>
                    </tr>
                    <tr>
                        <td>Estado personal: Todo tweet en que un individuo informa sobre su propio estado de salud. </td>
                        <td>Medios de transporte: Todo tweet en que se manifieste la necesidad de contar con un medio de transporte o alguna necesidad urgente de movilidad urgente. </td>
                    </tr> 
                    <tr>
                        <td>Lugares:  Todo tweet en que se ofrezca información sobre un lugar geográfico específico o que entregue información sobre aspectos relacionados a la infraestructura de un lugar puntual.</td>
                        <td>Ayuda a damnificados: Todo tweet que manifieste la necesidad de contar con alimentos, ropa o medicamentos en función de entregárselos a alguien más. Cabrían todos los tweets en que se requieren objetos puntuales para entregar ayuda.</td>
                    </tr> 
                    <tr>
                        <td>Instituciones: Todo tweet que entregue información sobre alguna institución. Tweets donde la gente entrega datos de contacto de una institución, por ejemplo, albergues u otros. </td>
                        <td>Voluntarios: Todo tweet que indique la necesidad de contar con personal voluntario. Un tweet en esta categoría debe centrarse en el requisito de mano de obra para alguna labora de ayuda. </td>
                    </tr> 
                    <tr>
                        <td>Cortes de agua: Todo tweet que entregue información sobre cortes de agua potable.</td>
                        <td>Seguridad ciudadana: Todo tweet donde se indique una amenaza para la seguridad de algún grupo o población, de origen no natural. Cabrían todos los tweets en que se mencionen saqueos o se denuncien hechos delictivos de diversa índole.</td>
                    </tr> 
                    <tr>
                        <td>Reposición de agua: Todo tweet que entregue información sobre la reposición del agua potable.</td>
                        <td>Lugares: Todo tweet en que se solicite información sobre un lugar geográfico específico o de un lugar puntual. </td>
                    </tr> 
                    <tr>
                        <td>Cortes de luz: Todo tweet que entregue información sobre cortes de luz.</td>
                        <td>Instituciones: Todo tweet que solicite información sobre alguna institución. Tweets donde la gente pide datos de contacto de una institución, por ejemplo, albergues u otros. </td>
                    </tr>
                    <tr>
                        <td>Reposición de luz: Todo tweet que entregue información sobre la reposición de luz.</td>
                        <td>Agua: Todo tweet que solicite información sobre el estado del servicio de agua potable (corte o reposición).</td>
                    </tr>  
                    <tr>
                        <td></td>
                        <td>Luz: Todo tweet que solicite información sobre el estado del suministro eléctrico (corte o reposición).</td>
                    </tr>
                    <tr>
                        <td>Alerta natural: Todo tweet que entregue información respecto a una emergencia producida por causas naturales (tsunamis, incendios…)</td>
                        <td>Alerta natural: Todo tweet que solicite información respecto a una emergencia producida por causas naturales (tsunamis, incendios…)</td>
                    </tr>
                    <tr>
                        <td>Otros: Todo tweet en que se entregue información sobre un evento en curso, no relacionado a las categorías anteriores. </td>
                        <td>Otros: Todo tweet en que se solicite información sobre un evento en curso, no relacionado a las categorías anteriores. </td>
                    </tr>
                    </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="head" class="row clearfix row-head">
                    <div class="col-xs-5 col-head-tweet">
                        Tweet #<label id="tweetNumber"></label>
                    </div>

                    <div class="col-xs-5 col-head-tipo"></div>

                    <div class="col-xs-2 col-head-help">
                        <a href= "#"><span id="btn-help" class="glyphicon glyphicon-question-sign smaller" data-toggle="modal" data-target=".bs-example-modal-sm"></span></a>
                    </div>
            </div>

            <div id="body-tweet" class="row row-body-tweet">
                <p class="bg-info border-tweet">
                   <label id="tweetText" class="tweet">text</label>
                </p>
            </div>

            <div id="body-classifier" class="row row-body-classifier">

               <div class="btns">
                    
                    <div class="voffset0"><button id="btn-entrega-body" class="btn btn-success btn-block btn-body">Entrega <span class="glyphicon glyphicon-bullhorn"></span></button></div>

                    <div class="voffset0"><button id="btn-solicita-body" class="btn btn-warning btn-block btn-body">Solicita <span class="glyphicon glyphicon-earphone"></span></button></div>

                    <div class="voffset0"><button id="btn-bug-body" class="btn btn-danger btn-block btn-body">Bug <span class="glyphicon glyphicon-warning-sign"></span></button></div>

                </div>

                <div class="options">
     
                     <div id="entrega" class="row row-entrega" style="display:none">
                        <div class="list-group checked-list-box clearfix">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="1" class="list-group-item">Personas encontradas</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="2" class="list-group-item">Estado personal</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="3" class="list-group-item">Lugares</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="4" class="list-group-item">Instituciones</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="5" class="list-group-item">Cortes de agua</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="6" class="list-group-item">Reposición de agua</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="7" class="list-group-item">Reposición de luz</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="8" class="list-group-item">Corte de luz</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="9" class="list-group-item">Alerta natural</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="10" class="list-group-item">Otros</div></div>
                        </div>
                    </div>

                     <div id="solicita" class="row row-solicita" style="display:none">
                        <div class="list-group checked-list-box clearfix">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="1" class="list-group-item">Personas perdidas</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="2" class="list-group-item">Medios de transporte</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="3" class="list-group-item">Ayuda damnificados</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="4" class="list-group-item">Voluntarios</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="5" class="list-group-item">Seguridad ciudadana</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="6" class="list-group-item">Lugares</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="7" class="list-group-item">Instituciones</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="8" class="list-group-item">Agua</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="9" class="list-group-item">Luz</div></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="10" class="list-group-item">Alerta natural</div></div>                            
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 voffset05"><div value="11" class="list-group-item">Otros</div></div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="footer" class="row clearfix  row-footer">
                <div class="col-xs-4 col-footer">
                    <button id="btn-entrega-footer" class="btn btn-success btn-footer" style="display:none">Entrega <span class="glyphicon glyphicon-bullhorn"></span></button>
                </div>

                <div class="col-xs-4 col-footer">
                    <button id="btn-clasificar" type="submit" class="btn btn-footer btn-clasificar" disabled>Clasificar <span class="glyphicon glyphicon-ok"></span></button>
                </div>

                <div class="col-xs-4 col-footer">
                    <button id="btn-solicita-footer" class="btn btn-warning btn-footer" style="display:none">Solicita <span class="glyphicon glyphicon-earphone"></span></button>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var arrayRandom = [];
            window.localStorage.setItem("arrayRandom", JSON.stringify(arrayRandom));
            initTweet();
        </script>
        <script type="text/javascript" src="cordova.js"></script>
    </body>
</html>
