<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../css/tweet.css" />
        
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>
        <script type="text/javascript" src="../js/tweet.js"></script>

        <title>Tweet Classifier Mobile</title>
    </head>
    <body>

        <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Ayuda</h4>
                    </div>
                    <div class="modal-body">
                    A continuación se le presentarán una serie de tweets enviados durante una situación de emergencia  y usted tendrá que clasificarlos siguiendo las siguientes etiquetas:
                    <table class="table">
                    <tr>
                        <th>Tengo:  Tweet entrega información </th>
                        <th>Necesito: Tweet solicita información </th>
                    </tr>
                    <tr>
                        <td>Personas Encontradas</td>
                        <td>Personas Perdidas</td>
                    </tr>
                    <tr>
                        <td>Estado personal</td>
                        <td></td>
                    </tr> 
                    <tr>
                        <td></td>
                        <td>Medios de transporte</td>
                    </tr> 
                    <tr>
                        <td></td>
                        <td>Ayuda a damnificados</td>
                    </tr> 
                    <tr>
                        <td></td>
                        <td>Voluntarios</td>
                    </tr> 
                    <tr>
                        <td></td>
                        <td>Seguridad ciudadana</td>
                    </tr> 
                    <tr>
                        <td>Lugares</td>
                        <td>Lugares</td>
                    </tr> 
                    <tr>
                        <td>Instituciones</td>
                        <td>Instituciones</td>
                    </tr>
                    <tr>
                        <td>Cortes de agua</td>
                        <td>Agua</td>
                    </tr>  
                    <tr>
                        <td>Reposición de agua</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cortes de luz</td>
                        <td>Luz</td>
                    </tr>
                    <tr>
                        <td>Reposición de luz</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Alerta natural</td>
                        <td>Alerta natural</td>
                    </tr>
                    <tr>
                        <td>Otros</td>
                        <td>Otros</td>
                    </tr>
                    </table>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    	<div class="panel panel-primary">
            
            <div class="panel-heading">
                <a href="#"><span id="btn-back" class="glyphicon glyphicon-chevron-left" ></span></a> Tweet <label id="tweetNumber">#</label>
                <a href= "#"><span id="btn-help" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target=".bs-example-modal-sm"></span></a>
            </div>

            <div class="panel-body">
                <div class="tweet">
    		  	   Tweet <label id="tweetText">text</label>
    		  	   <br>Tipo de <strong>información</strong>
                </div>

                <div id="botoncitos" class="row row-centered">
                    <button id="btn-entrega" type="submit" class="btn btn-primary">Entrega <li class="glyphicon glyphicon-ok"></li></button> <br><br>
                    <button id="btn-solicita" type="submit" class="btn btn-primary">Solicita <li class="glyphicon glyphicon-ok"></li></button>
                    <br>
                    <br>
                    <button id="btn-bug" type="submit" class="btn btn-primary">Bug <li class="glyphicon glyphicon-remove"></li></button>
                </div>
            
                <div id="entrega" style="display:none">
                    <div class="row">
                        <!-- <div class="col-xs-6"> -->
                            <ul id="checked-list-box-entrega" class="list-group checked-list-box">
                                <li value="1" class="list-group-item">Personas encontradas</li>
                                <li value="2" class="list-group-item">Estado personal</li>
                                <li value="3" class="list-group-item">Lugares</li>
                                <li value="4" class="list-group-item">Instituciones</li>
                                <li value="5" class="list-group-item">Cortes de agua</li>
                            <!-- </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul id="checked-list-box-entrega" class="list-group checked-list-box"> -->
                                <li value="6" class="list-group-item">Reposición de agua</li>
                                <li value="7" class="list-group-item">Corte de luz</li>
                                <li value="8" class="list-group-item">Reposición de luz</li>
                                <li value="9" class="list-group-item">Alerta natural</li>
                                <li value="10" class="list-group-item">Otros</li>
                            </ul>
                        <!-- </div> -->
                    </div>
                    <div class="row row-centered">
                        <button id="btn-classification-entrega" type="submit" class="btn btn-primary">Clasificar <li class="glyphicon glyphicon-ok"></li></button>
                    </div>
                </div>

                <div id="solicita" style="display:none">
                    <div class="row">
                        <!-- <div class="col-xs-6"> -->
                            <ul id="checked-list-box-solicita" class="list-group checked-list-box">
                                <li value="1" class="list-group-item">Personas perdidas</li>
                                <li value="2" class="list-group-item">Medios de transporte</li>
                                <li value="3" class="list-group-item">Ayuda damnificados</li>
                                <li value="4" class="list-group-item">Voluntarios</li>
                                <li value="5" class="list-group-item">Seguridad ciudadana</li>
                                <li value="6" class="list-group-item">Lugares</li>
                            <!-- </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul id="checked-list-box-solicita" class="list-group checked-list-box"> -->
                                <li value="7" class="list-group-item">Instituciones</li>
                                <li value="8" class="list-group-item">Agua</li>
                                <li value="9" class="list-group-item">Luz</li>
                                <li value="10" class="list-group-item">Alerta natural</li>
                                <li value="11" class="list-group-item">Otros</li>
                            </ul>
                        <!-- </div> -->
                    </div>
                    <div class="row row-centered">
                        <button id="btn-classification-solicita" type="submit" class="btn btn-primary">Clasificar <li class="glyphicon glyphicon-ok"></li></button>
                    </div>
                </div>

            </div>

            <div class="panel-footer">
                Made in CITIAPS
            </div>

		</div>

        <script type="text/javascript">
            var arrayRandom = [];
            window.localStorage.setItem("arrayRandom", JSON.stringify(arrayRandom));
            initTweet();
        </script>
        <script type="text/javascript" src="cordova.js"></script>
    </body>
</html>