body{
    background-color: #FFFFFF;
}

button{
    width: 120px;
}

span{
    color: #FFFFFF;
}

.modal-header .close{
    margin-top: -15px;
    margin-right: -25px;
}

.modal-footer{
	text-align: center;
}

.modal-close{
    font-size: 50px;
    color: #000000;
}

.glyphicon.glyphicon-chevron-left{
    margin-right: 15px;
}

.glyphicon.glyphicon-question-sign.modal{
    color: #000000;
    font-size: 25px;
    margin-top: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.glyphicon.glyphicon-question-sign{
    float: right;
    font-size: 25px;
    margin-top: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.glyphicon.glyphicon-question-sign-modal{
    color: #000000;
}

.list-group.checked-list-box{
    margin-right: auto;
    margin-left: auto;
    width: 160px;
}

.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
    margin-left: 0px;
    margin-right: 0px;
}

.list-group-item {
    width: 160px;
    font-size: 11px;
    width: auto;
}

.list-group {
    font-size: 11px;
    /*padding: 5px 5px;*/
    width: 160px;
}

.panel-heading{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.panel-body{
    margin-top: 40px;
    /*margin-bottom: 40px;*/
}

.panel-footer{
    width: 100%;
    background-color: #428BCA;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.row-centered {
    text-align:center;
    margin-bottom: 20px;
}

.state-icon {
    left: -5px;
}

.tweet{
    margin-bottom: 15px;
}

.well{
    width: auto;
}